.introducao-bg {
  background-color: var(--cor-2);
  box-shadow: inset 0 -10rem var(--cor-1);
  position: relative;
}

.introducao-bg::before {
  content: "";
  display: block;
  background: url("../../img/icons/divisores/divisor-cima-b.svg") no-repeat;
  background-size: cover;  
  position: absolute;
  width: 100%;
  height: 2rem;
  z-index: 2;
}

.introducao-bg::after {
  content: "";
  display: block;
  background: url("../../img/icons/divisores/divisor-cima-y.svg") no-repeat;
  background-size: cover;  
  position: absolute;
  width: 100%;
  height: 2rem;
  bottom:  9rem;
}

.introducao {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 0 4rem;
}

.introducao-conteudo {
  padding: 6.5rem 0 24rem 0;
}

.introducao-conteudo h1 {
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 7.2rem;
}

.introducao-conteudo p {
  max-width: 40ch;
  margin-bottom: 8rem;
}

.introducao-imagem {
  position: relative;
  display: grid;
  z-index: 1;
}

.introducao-imagem::after {
  content: "";
  display: block;
  background: url("../../img/icons/divisores/divisor-baixo-b.svg") no-repeat;
  background-size: cover;  
  position: absolute;
  width: 100%;
  height: 2rem;
  align-self: end;
}

.introducao-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
}
